<h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
  </br>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr></br>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <p th><%= link_to '編集ボタン', edit_user_path(current_user) %></p th>
  </tr>

<h2>New book</h2>
  <%= form_with model: book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title' %>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Opinion' %>
    <p><%= f.text_area :body %></p>
  </div>

  <div class="form-group">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>